* {
    font-family: Helvetica, Arial, sans-serif;
}
header {
    background-color:#31343D;
     display: flex; 
     flex-wrap: wrap; 
     justify-content: space-between;
     
}

header h1 {
    border: 1px solid #92CCCD;
    background-color: #92CCCD;
    margin: 0 10px 10px 0;
    padding: 5px 10px 3px 40px;  
    display: inline-block;
    
}

header a {
    text-decoration: none;
    color:#92CCCD;
    justify-content: space-around;
    border-bottom: 2px solid #92CCCD;
    
}


header nav {
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 55px;
    
}
/*///////////header ends///////////*/
.am {
    display: flex;
    
}
.about-me {
    color: #31343D;
    font-size: 50px;
    margin-left: 100px;
    padding-right: 40px;
    border-right: 3px solid #31343D ;
    line-height:100px;
}

.avatar {
    width:200px;
    height: 200px;
    margin-left: 100px;
    justify-content: center;
}

.amd {
    justify-content: center space-between;
}
.aboutmep{
    font-size: 15px;
    color:black;
    margin-left: 100px;
}
/*//////about me ends////////*/
.work-section{
    display:flex;
    
    
}
.workh2 {
    align-items: center;
    color:#31343D;
    font-size:50px;
    /*text-align: start;*/
    padding-right: 90px;
    margin-left: 70px;
    top:-100px;
}

.lineheight{
    border-right: 3px solid #31343D ;
    line-height:500px;
}

.project1 img{
    justify-content: center;
    width:400px;
    height: 200px;
    margin: 50px 0 50px 100px;
}

.project1 img:hover {
    opacity: 0.3;
}

/*///////workends//////////*/
.contact {
    display:flex;
}

.contacth2 {
    font-size: 50px;
    color:#31343D;
    padding-right: 30px;
    margin-left: 70px;
}

footer ul {
    margin-right: 20px;
    font-size: 20px;
}

footer ul li {
    color: #92CCCD;
    list-style-type: none;
    display: inline-block;
    margin-top: 50px;
    margin-left: 52px;
    
}

footer a {
    text-decoration: none;
    color:#31343D;
    border-bottom: 2px solid #31343D;
}

@media all and (max-width: 980px)  {
    header {
    flex-wrap: wrap;
    }

    .am {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
    }

    .aboutme{
        justify-content: center;
    }
    .work-section {
        justify-content: center;
    }
}

@media all and (max-width: 780px)  {
    header {
    flex-wrap: wrap;
    }

    .am {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .aboutme{
        justify-content: center;
    }
    .work-section {
        justify-content: center;
    }
}

@media all and (max-width: 580px)  {
    header {
    flex-wrap: wrap;
    }

    .am {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
    }

    .aboutme{
        justify-content: center;
    }
    .work-section {
        justify-content: center;
    }
}