* {
    font-family: Helvetica, Arial, sans-serif;
}
header {
    background-color:#31343D;
     display: flex; 
     flex-wrap: wrap; 
     justify-content: space-between;
     
}

header h1 {
    border: 1px solid #92CCCD;
    background-color: #92CCCD;
    margin: 0 10px 10px 0;
    padding: 5px 10px 3px 40px;  
    display: inline-block;
    
}

header a {
    text-decoration: none;
    color:#92CCCD;
    justify-content: space-around;
    border-bottom: 2px solid #92CCCD;
    
}


header nav {
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 55px;
    
}
/*///////////header ends///////////*/
.am {
    position: relative;
    display: flex;
    
}
.about-me {
    color: #31343D;
    font-size: 50px;
    margin:0 50px;
    padding-right: 5px;
    border-right: 3px solid #31343D ;
    line-height:100px;
    
    
}
.aboutmep{
    font-size: 20px;
    color:black;
}
/*//////about me ends////////*/
.work-section{
    display:flex;
    flex-wrap: wrap;
    
}
.workh2 {
    align-items: center;
    color:#31343D;
    font-size:50px;
    /*text-align: start;*/
    padding-right: 90px;
    margin-left: 70px;

    top:-100px;
}

.lineheight{
    border-right: 3px solid #31343D ;
    line-height:500px;
}

.project1 img{
    display: block;
    justify-content: center;
    width:400px;
    height: 200px;
    margin: 70px 0 100px 500px;
}

.project1 img:hover {
    opacity: 0.3;
}

.contact {
    display:flex;
    flex-wrap:wrap
}

.contacth2 {
    font-size: 50px;
    color:#31343D;
    padding-right: 30px;
    margin-left: 70px;
}

footer ul {
    margin-right: 20px;
    font-size: 20px;
    
}

footer ul li {
    color: #92CCCD;
    list-style-type: none;
    display: inline-block;
    margin-top: 100px;
    margin-left: 200px;
    
}

footer a {
    text-decoration: none;
    color:#31343D;
    border-bottom: 2px solid #31343D;
}